html, body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #07010D;
  overflow: hidden;
}

#left {
  position: fixed;
  background-color: #02061A;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  box-shadow: inset 0 0 100px 10px rgba(36, 16, 173, 0.3);
  gap: 50px;
}

.socials_container {
  display: flex;
  justify-content: center;   
  align-items: center;       
  gap: 20px;               
  position: absolute;        
  bottom: 30px;              
  left: 50%;                 
  transform: translateX(-50%); 
}

#right {
  margin-left: 25%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #07010D;
  overflow-y: auto;
  padding: 20px;
  flex: 1;
  gap: 50px;
  box-shadow: inset 0 0 30px 4px rgba(224, 2, 2, 0.3);
}

.Frameworks{
  font-size: 28px;
}
.section{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.Frameworks_Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button_container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: flex-start ;
}

.button_wrapper {
  position: relative;
  display: inline-block;
  width: max-content; /* important */
}

.button_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 20px;
  z-index: 0;
  transition: all 0.3s ease;
  pointer-events: none; /* allow hover to reach button_wrapper */
}

.button_wrapper .button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.button_wrapper:hover .button {
  transform: translate(-10px, -10px);
}


.button {
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ML {
  background-color: #4D1914;
  color: #FF0000;
}

.mlbg{
    box-shadow: inset 0 0 0 4px #FF0000;
}

.Core_Programming {
  background-color: #107B23;
  color: #0DFF00;
}

.corebg {
  box-shadow: inset 0 0 0 4px #0DFF00;
}

.vis{
  background-color: #0C0E77;
  color: #006FFF;
}

.visbg{
  box-shadow: inset 0 0 0 4px #006FFF;
}

.devenv{
  background-color: #887F19;
  color: #B7FF0F;
}

.devenvbg{
  box-shadow: inset 0 0 0 4px #B7FF0F;
}

.architecture_container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}

.architecture {
  background-color: #000000;
  color: white;
  flex : 1;
  max-width: 420px;
  min-height: 320px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  outline: 2px solid white;
  overflow: hidden;
  position: relative;
}

.architecture::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #FF5E5E;
  z-index: 0;
  transition: width 0.3s ease;
}

.architecture:hover::before {
  width: 100%;
}

.architecture * {
  position: relative;
  z-index: 1;
}

.architecture_heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}


.architecture_description {
  font-size: 18px;
  color: #cccccc;
}


.project_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.project {
  background-color: #1C1C1C;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  opacity: 0.8;
}

.project_image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}


.project_text {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.project_image {
  background-color: #ffffff;
  width: 40%;
}

.tools_used {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  width: 80%;

}

.project_wrapper {
  position: relative;
  display: inline-block;
  width: 100%; /* important */
}

.project_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  border-radius: 20px;
  z-index: 0;
  transition: all 0.3s ease;
  pointer-events: none; /* allow hover to reach button_wrapper */
}

.project_wrapper .project {
  z-index: 1;
  transition: all 0.3s ease;
}

.project_wrapper:hover .project {
  transform: translate(-20px, -20px);
}